<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

$this->translate = ZfExtended_Zendoverwrites_Translate::getInstance();
if(empty($this->termGroups)) {
    echo '<p style="margin-bottom:5px;">'.$this->translate->_('Keine Terminologie vorhanden!').'</p>';
    return;
}
?>
<div class="term-box">
<?php
    $i = 0;
    foreach($this->termGroups as $termGroup) {
        $target = array();
        $source = array();
        foreach($termGroup as $term) {
            $src = $this->publicModulePath.'/images/'.$term->status.'.png';
            switch ($term->status) {
                case editor_Models_Term::STAT_ADMITTED:
                    $title = $this->translate->_('erlaubte Benennung');
                    break;
                case editor_Models_Term::STAT_LEGAL:
                    $title = $this->translate->_('erlaubte Benennung');
                    break;
                case editor_Models_Term::STAT_REGULATED:
                    $title = $this->translate->_('erlaubte Benennung');
                    break;
                case editor_Models_Term::STAT_STANDARDIZED:
                    $title = $this->translate->_('erlaubte Benennung');
                    break;
                case editor_Models_Term::STAT_DEPRECATED:
                    $title = $this->translate->_('verbotene Benennung');
                    break;
                case editor_Models_Term::STAT_SUPERSEDED:
                    $title = $this->translate->_('verbotene Benennung');
                    break;
                case editor_Models_Term::STAT_PREFERRED:
                    $title = $this->translate->_('Vorzugsbenennung');
                    break;
                default:
                    $title = $this->translate->_('Unbekannter Term Status');
            }
            $itemStr = sprintf('<img src="%1$s" alt="%2$s" title="%2$s"/>', $src, $title);
            $class = array('term', $term->status);
            if($term->used){
                $class[] = 'used';
            }
            if($term->transFound){
                $class[] = 'transfound';
            }
            $definition = htmlspecialchars($term->definition);
            $itemStr .= sprintf('<span class="%3$s" title="%2$s">%1$s</span>', $term->term, $definition, join(' ', $class));
            if(!empty($term->definition)){
                $src = $this->publicModulePath.'/images/information-small-white.png';
                $itemStr .= sprintf(' <img src="%1$s" alt="%2$s" title="%2$s"/>', $src, $definition);
            }
            if($term->isSource) {
                $source[] = $itemStr;
            }
            else {
                $target[] = $itemStr;
            }
        }
?>
        <div class="term-group <?php echo ($i++ % 2 == 0)?'even':'odd'; ?>">
            <div class="source-terms">
                <?php echo join("<br />\n", $source); ?>
            </div>
            <div class="target-terms">
                <?php echo join("<br />\n", $target); ?>
            </div>
        </div>
<?php
    }
?>
</div>