<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

/**#@+
 * @author Marc Mittag
 * @package portal
 * @version 2.0
 *
 */

$session = new Zend_Session_Namespace();

//Define Action String
if($this->isCron) {
    $this->subject = $this->translate->_('Translate5 - Aufgabe automatisch abgeschlossen').' "'.$this->task->getTaskNr().' - '.$this->task->getTaskName().'"';
    $action = 'Im Projektportal Translate5 wurde die Aufgabe <b>%1$s - %2$s</b> aufgrund einer Terminüberschreitung automatisch für alle Benutzer der Rolle <i>%3$s</i> abgeschlossen.<br />';
}
else {
    $this->subject = $this->translate->_('Translate5 - Aufgabe abgeschlossen').' "'.$this->task->getTaskNr().' - '.$this->task->getTaskName().'"';
    $action = 'Im Projektportal Translate5 wurde die Aufgabe <b>%1$s - %2$s</b> durch alle Benutzer der Rolle <i>%3$s</i> abgeschlossen.<br />';
}
$action = sprintf($this->translate->_($action), $this->task->getTaskNr(),$this->task->getTaskName(),$this->triggeringRole);

//Define User List
if(empty($this->nextRole)&&  in_array($this->triggeringRole, $this->workflow->getSteps2Roles())){
    $userNotification = "Die Aufgabe ist vollständig bearbeitet, es sind keine weiteren Benutzer der Aufgabe zugeordnet.<br />\n<br />\n";
}
elseif(!empty($this->nextRole)&&  in_array($this->triggeringRole, $this->workflow->getSteps2Roles())) {
    $userNotification=<<<'END'
Die Aufgabe wurde nun automatisch für die folgenden Benutzer in der Rolle <i>%2$s</i> freigegeben:<br />
%1$s
<br />
Die Benutzer wurden per E-Mail darüber informiert.<br />
<br />
END;
    $userNotification = sprintf($this->translate->_($userNotification), $this->workflowNotifyHtmlMailUserList($this->users),$this->translate->_($this->nextRole));
}
else{
    $userNotification = 'Die Rolle <i>%1$s</i> war nicht Teil der Workflowkette, daher wurden keine Benutzer benachrichtigt.<br />\n<br />\n';
    $userNotification = sprintf($this->translate->_($userNotification), $this->translate->_($this->triggeringRole));
}

//Define E-Mail Footer
$footer = <<<'END'
<br />
<br />
Sie erreichen das Portal unter: <a href="%1$s">%1$s</a><br />
<br />
<br />Vielen Dank und viele Grüße,
<br />Ihr Projektmanagement Team
<br />%2$s
<br />
<br />Diese Email wurde automatisch generiert. Bitte antworten Sie nicht auf diese E-Mail!
END;
$footer = sprintf($this->translate->_($footer), $session->runtimeOptions->server->protocol.$session->runtimeOptions->server->name,$session->runtimeOptions->companyName);

$this->textbody=<<<'END'
%1$s %2$s,

%3$s
%4$s
%7$s
END;

$this->textbody = sprintf($this->translate->_($this->textbody),
    $this->mailEmployeeSalutation(),
    $this->user['surName'],
    strip_tags($action),
    strip_tags("\n==================\n".$userNotification."\n==================\n"),
    $this->translate->_($this->triggeringRole),
    '', //displaying segments is not supported in textmails
    strip_tags($footer)
);

$html=<<<'END'
%1$s %2$s,<br />
<br />
%3$s<br />
%4$s<br />
Im folgenden die getätigten Änderungen der zuvor aktiven Benutzer der Rolle <b>%5$s</b>:<br />
%6$s
<hr />
%7$s
END;

echo sprintf($this->translate->_($html),
    $this->mailEmployeeSalutation(),
    $this->user['surName'],
    $action,
    $userNotification,
    $this->translate->_($this->triggeringRole),
    $this->workflowNotifyHtmlMailSegmentList($this->segments),
    $footer
);