<?php
 /*
 START LICENSE AND COPYRIGHT
 
 This file is part of Translate5 Editor PHP Serverside and build on Zend Framework
 
 Copyright (c) 2013 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ÄTT) MittagQI.com

 This file may be used under the terms of the GNU General Public License version 3.0
 as published by the Free Software Foundation and appearing in the file gpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU General Public License version 3.0 requirements will be met:
 http://www.gnu.org/copyleft/gpl.html.

 For this file you are allowed to make use of the same FLOSS exceptions to the GNU 
 General Public License version 3.0 as specified by Sencha for Ext Js. 
 Please be aware, that Marc Mittag / MittagQI take no warranty  for any legal issue, 
 that may arise, if you use these FLOSS exceptions and recommend  to stick to GPL 3. 
 For further information regarding this topic please see the attached license.txt
 of this software package.
 
 MittagQI would be open to release translate5 under EPL or LGPL also, if this could be
 brought in accordance with the ExtJs license scheme. You are welcome to support us
 with legal support, if you are interested in this.
 
 
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU General Public License version 3.0 http://www.gnu.org/copyleft/gpl.html
             with FLOSS exceptions (see floss-exception.txt and ux-exception.txt at the root level)
 
 END LICENSE AND COPYRIGHT 
 */

/**
 * ExtJS file inclusion explanation:
 * This index file loads:
 * - The Translate5 Editor Application as single files, unmerged
 * - ExtJS 6.0.0, unmerged, debug
 * - For ExtJS as provided by Sencha Architect, unmerged, use the following:
    <link rel="stylesheet" type="text/css" href="modules/erp/ERP/bootstrap.css">
    <script src="modules/erp/ERP/ext/build/ext-all-debug.js"></script>
    <script src="modules/erp/ERP/ext/packages/ext-locale/build/ext-locale-de-debug.js"></script>
 */
?>

<link rel="stylesheet" type="text/css" href="<?php echo $this->extJsCss; ?>"/>
<link rel="stylesheet" type="text/css" href="<?php echo $this->publicModulePath; ?>/css/main.css?v=7" />

<script src="<?php echo $this->extJsBasepath;?>/build/ext-all-debug.js"></script>
<script src="<?php echo $this->extJsBasepath;?>/build/classic/locale/locale-de-debug.js"></script>
<script src="<?php echo $this->publicModulePath; ?>/js/app/MessageBox.js"></script>
<script>
//Intercept setPath for developing systems, on production all should work with above builded code 
Ext.Loader.setPathIntercepted = Ext.Loader.setPath;
Ext.Loader.setPath = function(mod, path) {
    if(mod == 'Editor') {
        return Ext.Loader.setPathIntercepted('Editor', 'modules/editor/js/app');
    }
    return Ext.Loader.setPathIntercepted(mod, path);
};

</script>
<script src="modules/editor/overrides.js"></script>
<script src="modules/editor/js/app.js"></script>