<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

$this->translate->setJsonEncode(true);
//Datei muss als Javascript ausgespielt werden.
  header('Content-Type: text/javascript', TRUE);

  //mehrfachverwendete Strings:
  $yes = $this->translate->_('Ja');
  $no  = $this->translate->_('Nein');
  
  $fcList = $this->frontendControllers;
  $hasFrontendController = function($controller) use($fcList) {
      $controller = str_replace('Editor.controller.', '', $controller);
      return in_array($controller, $fcList);
  };
  $config = Zend_Registry::get('config');
?>
/*
Editor Translation Files
*/
Ext.define('Editor.controller.Localizer', {
    extend : 'Ext.app.Controller',
	init: function() {
	  Ext.view.AbstractView.prototype.loadingText = '<?php echo $this->translate->_('Übertrage Daten...');?>';
  	Editor.controller.Preferences.prototype.messages.preferencesSaved = '<?php echo $this->translate->_('Einstellungen für diese Sitzung gespeichert!');?>';

  	Editor.controller.Segments.prototype.messages = {
      segmentSaved: '<?php echo $this->translate->_('Das Segment wurde gespeichert!');?>',
      sortCleared: '<?php echo $this->translate->_('Die gewählte Sortierung der Segmente wurde zurückgesetzt!');?>',
      segmentNotSaved: '<?php echo $this->translate->_('Das zuletzt geöffnete Segment (Nr. {0}) konnte nicht gespeichert werden!');?>',
      otherFiltersActive: '<?php echo $this->translate->_('ACHTUNG: Ein weiterer Filter ist gesetzt. Es ist daher möglich, dass nicht alle Segmente der Merkliste sichtbar sind');?>',
      noSegmentToFilter: '<?php echo $this->translate->_('Kein Segment dieser Datei entspricht den Filterkriterien');?>'
    };

    Editor.controller.ServerException.prototype.strings = {
        "401_title": '<?php echo $this->translate->_('Erneute Anmeldung');?>',
        "401_msg": '<?php echo $this->translate->_('Ihre Sitzungsdaten sind abgelaufen. Sie werden nun zur Anmeldeseite weitergeleitet.');?>',
        "403": '<?php echo $this->translate->_('Für die angeforderten Daten fehlen Ihnen die nötigen Berechtigungen!');?>',
        "403_destroy": '<?php echo $this->translate->_('Zum Löschen der Daten fehlen Ihnen die nötigen Berechtigungen!');?>',
        "403_create": '<?php echo $this->translate->_('Zum Speichern von neuen Daten fehlen Ihnen die nötigen Berechtigungen!');?>',
        "403_edit": '<?php echo $this->translate->_('Zum Speichern der bearbeiten Daten fehlen Ihnen die nötigen Berechtigungen!');?>',
        "404": '<?php echo $this->translate->_('Die angeforderten bzw. zu bearbeitenden Daten wurden nicht gefunden!');?>',
        "405_del_assoc": '<?php echo $this->translate->_('Ein Benutzer konnte nicht aus der Aufgabe entfernt werden, da er die Aufgabe aktuell benutzt.');?>',
        "406": '<?php echo $this->translate->_('Es ist ein Fehler aufgetreten!');?>',
        "409": '<?php echo $this->translate->_('Ihre Daten konnten nicht gespeichert werden, beim Speichern kam es zu einem Konflikt!');?>',
        title: '<?php echo $this->translate->_('Fehler');?>',
        text: '<?php echo $this->translate->_('Fehler beim Speichern oder beim Auslesen von Daten. Bitte wenden Sie sich an unseren Support!');?>',
        timeout: '<?php echo $this->translate->_('Die Anfrage über das Internet an den Server dauerte zu lange. Dies kann an Ihrer Internetverbindung oder an einer Überlastung des Servers liegen. Bitte versuchen Sie es erneut.');?>',
        serverMsg: '<?php echo $this->translate->_('<br />Meldung vom Server: <i>{0} {1}</i>');?>'
    };

    Editor.MessageBox.prototype.self.SUCCESS = '<?php echo $this->translate->_('ok');?>';
    Editor.MessageBox.prototype.self.ERROR = '<?php echo $this->translate->_('error');?>';
    Editor.MessageBox.prototype.self.INFO = '<?php echo $this->translate->_('notice');?>';

    <?php
        //handling application name separatly, since used in different applications
        $app = $this->translate->_('translate5');
        //for better readability with line breaks
        $disclaimer = 'Ihr Browser oder Ihre Browser-Version wird von %1$s nicht offiziell unterstützt.<br /> 
    Die Anwendung wurde hinsichtlich Funktionalität und Performance in den folgenden Browser offiziell getestet:
    <ul>
        <li>Google Chrome ab Version 48</li>
        <li>Mozilla Firefox ab Version 44</li>
        <li>Apple Safari ab Version 9</li>
        <li>Microsoft Internet Explorer Version 9 - 11</li>
    </ul>
    Prinzipiell kann %1$s auch mit anderen Browsern bzw. älteren Versionen funktionieren. 
    Hier kann es aber zu unvorhergesehenen Fehlern kommen. 
    Potentiell können auch manche Features komplett nicht funktionieren.';
        
        //for translated strings without without line breaks:
        $disclaimer = str_replace("\n", '', $disclaimer);
    
        $disclaimer = $this->translate->_($disclaimer);
        $disclaimer = sprintf($disclaimer, $app); //replacing application name placeholders 
    ?>
    
    Ext.app.Application.prototype.browserAdviceTextTitle = '<?php echo $this->translate->_('Nicht unterstützte Browser-Version');?>';
    Ext.app.Application.prototype.browserAdviceText = '<?php echo $disclaimer;?>';
    Ext.app.Application.prototype.browserAdviceTextIE = '<?php echo $this->translate->_('Sie nutzen Internet Explorer. Dieser Browser wird von Version 9 bis 11 unterstützt, ist allerdings sehr langsam. Um die Anwendung in optimaler Performance nutzen zu können, empfehlen wir daher Google Chrome, Firefox oder Safari als Browser.');?>';

    Editor.view.ViewPortEditor.prototype.items_west_title = '<?php echo $this->translate->_('Dateien');?>';
  	Editor.view.segments.Grid.prototype.title = '<?php echo $this->translate->_('Segmentliste und Editor');?>';
  	Editor.view.segments.Grid.prototype.title_readonly = '<?php echo $this->translate->_('Segmentliste und Editor - [LESEMODUS]');?>';
  	
  	var gridToolbar = Editor.view.segments.grid.Toolbar.prototype;
  	gridToolbar.item_viewModesMenu = '<?php echo $this->translate->_('Editormodi');?>';
  	gridToolbar.item_viewModeBtn = '<?php echo $this->translate->_('Ansicht');?>';
  	gridToolbar.item_editModeBtn = '<?php echo $this->translate->_('Bearbeitung');?>';
  	gridToolbar.item_ergonomicModeBtn = '<?php echo $this->translate->_('Ergonomic');?>';
  	gridToolbar.item_hideTagBtn = '<?php echo $this->translate->_('Tags verbergen');?>';
  	gridToolbar.item_shortTagBtn = '<?php echo $this->translate->_('Tag-Kurzansicht');?>';
  	gridToolbar.item_fullTagBtn = '<?php echo $this->translate->_('Tag-Vollansicht');?>';
  	gridToolbar.item_qmsummaryBtn = '<?php echo $this->translate->_('QM Subsegment Statistik');?>';
  	gridToolbar.item_optionsTagBtn = '<?php echo $this->translate->_('Einstellungen');?>';
  	gridToolbar.item_clearSortAndFilterBtn = '<?php echo $this->translate->_('Sortierung / Filterung zurücksetzen');?>';
  	gridToolbar.item_watchListFilterBtn = '<?php echo $this->translate->_('Merkliste');?>';
  	
  	Editor.view.segments.Grid.prototype.column_edited = '<?php echo $this->translate->_('editierbar');?>';

  	Editor.view.ui.segments.column.Quality.prototype.text = '<?php echo $this->translate->_('QM');?>';
  	Editor.view.ui.segments.column.Matchrate.prototype.text = '<?php echo $this->translate->_('Matchrate');?>';
  	Editor.view.ui.segments.column.Editable.prototype.text = '<?php echo $this->translate->_('Gesperrt');?>';
  	Editor.view.ui.segments.column.AutoState.prototype.text = '<?php echo $this->translate->_('Autostatus');?>';
  	Editor.view.ui.segments.column.State.prototype.text = '<?php echo $this->translate->_('Status');?>';
  	Editor.view.ui.segments.column.UserName.prototype.text = '<?php echo $this->translate->_('letzter Bearbeiter');?>';
  	Editor.view.segments.column.WorkflowStep.prototype.text = '<?php echo $this->translate->_('bearbeitet bei');?>';
  	Editor.view.segments.column.Comments.prototype.text = '<?php echo $this->translate->_('Kommentare');?>';
  	Editor.view.segments.column.Comments.prototype.text_morecomments = '<?php echo $this->translate->_('({0} weitere Kommentare)');?>';
  	Editor.view.segments.column.Comments.prototype.text_morecomment = '<?php echo $this->translate->_('({0} weiterer Kommentar)');?>';
  	Editor.view.segments.column.Comments.prototype.text_tooltip_icon = '<?php echo $this->translate->_('Dem ausgewählten Segment einen Kommentar hinzufügen. (ALT + C)');?>';
  	
    Ext.define("Editor.locale.de.controller.ViewModes", {
        override: "Editor.controller.ViewModes",
        messageIsViewMode: '<?php echo $this->translate->_('Das Segment kann nicht bearbeitet werden, da die Aufgabe im "nur Lese"- bzw. Ansichtsmodus ist.');?>'
    });
  	
  	Editor.view.fileorder.Tree.prototype.title = '<?php echo $this->translate->_('Arbeits-Dateien');?>';
  	Editor.view.fileorder.ReferenceTree.prototype.title = '<?php echo $this->translate->_('Referenz-Dateien');?>';

  	Editor.view.preferences.Window.prototype.title = '<?php echo $this->translate->_('Einstellungen');?>';
  	<?php
        if($config->runtimeOptions->editor->enableQmSubSegments){
        ?>
        Editor.view.qmsubsegments.Window.prototype.title = '<?php echo $this->translate->_('QM Subsegment Statistik');?>';
  	Editor.view.qmsubsegments.Window.prototype.tab_title_field = '<?php echo $this->translate->_('In Feld: {0}');?>';
  	Editor.view.qmsubsegments.SummaryTree.prototype.treepanel_text = '<?php echo $this->translate->_('Fehlertyp');?>';
  	Editor.view.qmsubsegments.SummaryTree.prototype.treepanel_totalTotal = '<?php echo $this->translate->_('Gesamt');?>';
  	Editor.view.qmsubsegments.SummaryTree.prototype.treepanel_total = '<?php echo $this->translate->_('Summe');?>';

  	Editor.view.qmsubsegments.AddFlagFieldset.prototype.strings = {
		severityLabel: '<?php echo $this->translate->_('Gewichtung');?>',
		commentLabel: '<?php echo $this->translate->_('Kommentar');?>',
		qmAddBtn: '<?php echo $this->translate->_('QM Subsegment hinzufügen');?>'
	};
  	Editor.view.qmsubsegments.AddFlagFieldset.prototype.title = '<?php echo $this->translate->_('QM Subsegmente');?>';
	Editor.controller.QmSubSegments.prototype.strings = {
    	buttonTooltip10: '<?php echo $this->translate->_(' (ALT+{0})');?>',
    	buttonTooltip20: '<?php echo $this->translate->_(' (ALT+SHIFT+{0})');?>'
    };
    <?php } ?>
    
    Ext.define("Editor.locale.de.view.ToolTip", {
        override: "Editor.view.ToolTip",
        severity: '<?php echo $this->translate->_('Gewichtung');?>'
    });
  	
  	Editor.view.preferences.Window.prototype.item_radiogroup_fieldLabel = '<?php echo $this->translate->_('Verhalten des Wiederholungseditor');?>';
    Editor.view.preferences.Window.prototype.item_alikeBehaviour_always_boxLabel = '<?php echo $this->translate->_('Immer automatisch ersetzen und Status setzen');?>';
    Editor.view.preferences.Window.prototype.item_alikeBehaviour_individual_boxLabel = '<?php echo $this->translate->_('Bei jeder Wiederholung einzeln entscheiden');?>';
    Editor.view.preferences.Window.prototype.item_alikeBehaviour_never_boxLabel = '<?php echo $this->translate->_('Nie automatisch ersetzen und Status setzen');?>';
    Editor.view.preferences.Window.prototype.item_cancelBtn = '<?php echo $this->translate->_('Abbrechen');?>';
    Editor.view.preferences.Window.prototype.item_saveBtn = '<?php echo $this->translate->_('Speichern');?>';

    Editor.view.segments.MetaPanel.prototype.title = '<?php echo $this->translate->_('Segment-Metadaten');?>';
    Editor.view.segments.MetaPanel.prototype.item_metaQm_title = '<?php echo $this->translate->_('QM');?>';
    Editor.view.segments.MetaPanel.prototype.item_metaStates_title = '<?php echo $this->translate->_('Status');?>';
    Editor.view.segments.MetaPanel.prototype.item_metaTerms_title = '<?php echo $this->translate->_('Terminologie');?>';
    Editor.view.segments.MetaPanel.prototype.item_metaStates_tooltip = '<?php echo $this->translate->_('Segment auf den ausgewählten Status setzen (ALT + S danach {0})');?>';
    Editor.view.segments.MetaPanel.prototype.item_metaStates_tooltip_nokey = '<?php echo $this->translate->_('Segment auf den ausgewählten Status setzen');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_cancel = '<?php echo $this->translate->_('Abbrechen (ESC)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_save = '<?php echo $this->translate->_('Speichern (STRG + S)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_reset = '<?php echo $this->translate->_('Segment auf initialen Inhalt zurücksetzen (ALT + ENTF)');?>';

    Editor.view.segments.MetaPanelNavi.prototype.item_startWatchingSegment = '<?php echo $this->translate->_('Segment auf die Merkliste setzen (STRG + D)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_stopWatchingSegment = '<?php echo $this->translate->_('Segment von der Merkliste entfernen (STRG + D)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_scrollToSegment = '<?php echo $this->translate->_('Zur Bearbeitung geöffnetes Segment wieder in den Sichtbereich bewegen (STRG + G)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_saveAndNext = '<?php echo $this->translate->_('Speichern und nächstes Segment öffnen (STRG + ALT + ENTER)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_saveAndNextFiltered = '<?php echo $this->translate->_('Speichern und nächstes Segment im Workflow öffnen (STRG + ENTER)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_saveAndPrevious = '<?php echo $this->translate->_('Speichern und vorheriges Segment öffnen (STRG + ALT + SHIFT + ENTER)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_alternateLeft = '<?php echo $this->translate->_('Vorherige Spalte editieren (STRG + ALT + ←)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_alternateRight = '<?php echo $this->translate->_('Nächste Spalte editieren (STRG + ALT + →)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_next = '<?php echo $this->translate->_('Nicht speichern und nächstes Segment öffnen (STRG + ALT + ↓)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_nextFiltered = '<?php echo $this->translate->_('Nicht speichern und nächstes Segment im Workflow öffnen (ALT + Bild ↓)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_prev = '<?php echo $this->translate->_('Nicht speichern und vorheriges Segment öffnen (STRG + ALT + ↑)');?>';
    Editor.view.segments.MetaPanelNavi.prototype.item_prevFiltered = '<?php echo $this->translate->_('Nicht speichern und vorheriges Segment im Workflow öffnen (ALT + Bild ↑)');?>';
    
   
    Ext.define("Editor.locale.de.controller.Editor", {
        override: "Editor.controller.Editor",
        messages: {
            segmentReset: '<?php echo $this->translate->_('Das Segment wurde auf den ursprünglichen Zustand nach dem Import zurückgesetzt.');?>',
            segmentNotBuffered: '<?php echo $this->translate->_('Das nächste / vorherige Segment wird noch geladen, bitte versuchen Sie es erneut.');?>',
            segmentsChanged: '<?php echo $this->translate->_('Die Sortierung bzw. Filterung wurde geändert, es kann kein nächstes / vorheriges Segment ausgewählt werden.');?>',
            segmentsChangedJump: '<?php echo $this->translate->_('Die Sortierung bzw. Filterung wurde geändert, es kann nicht zum aktuellen Segment zurück gesprungen werden.');?>',
            f2FirstOpened: '<?php echo $this->translate->_('Das erste bearbeitbare Segment wurde geöffnet, da kein anderes Segment ausgewählt war.');?>',
            f2Readonly: '<?php echo $this->translate->_('Das ausgewählte Segment ist nicht bearbeitbar!');?>',
            errorTitle: '<?php echo $this->translate->_('Fehler bei der Segment Validierung!');?>',
            correctErrorsText: '<?php echo $this->translate->_('Fehler beheben');?>',
            saveAnyway: '<?php echo $this->translate->_('Trotzdem speichern');?>',
            editorMoveTitle: '<?php echo $this->translate->_('Verschiebbarer Editor');?>',
            editorMove: '<?php echo $this->translate->_('Der Segmenteditor kann mit der Maus beliebig positioniert werden. <br />Dazu lediglich den Segmenteditor anklicken und dann verschieben.');?>',
        }
    });
    
    Ext.define("Editor.locale.de.controller.editor.PrevNextSegment", {
        override: "Editor.controller.editor.PrevNextSegment",
        strings: {
            gridEndReached: '<?php echo $this->translate->_('Kein weiteres Segment bearbeitbar!');?>',
            gridStartReached: '<?php echo $this->translate->_('Kein vorheriges Segment bearbeitbar!');?>',
            gridEndReachedFiltered: '<?php echo $this->translate->_('Kein weiteres Segment im Workflow bearbeitbar!');?>',
            gridStartReachedFiltered: '<?php echo $this->translate->_('Kein vorheriges Segment im Workflow bearbeitbar!');?>'
        }
    });

    Ext.define("Editor.locale.de.view.segments.HtmlEditor", {
        override: "Editor.view.segments.HtmlEditor",
        strings: {
            tagOrderErrorText: '<?php echo $this->translate->_('Einige der im Segment verwendeten Tags sind in der falschen Reihenfolgen (schließender vor öffnendem Tag).');?>',
            tagMissingText: '<?php echo $this->translate->_('Die nachfolgenden Tags wurden beim Editieren gelöscht, das Segment kann nicht gespeichert werden. <br />Versuchen Sie mit der Rückgängigfunktion STRG-Z die Tags wiederherzustellen. <br />Alternativ können Sie auch die Bearbeitung des Segments durch Klick auf "Abbrechen" (<img src="../modules/editor/images/cross.png" /> im rechten Menü) beenden und das Segment neu zur Bearbeitung öffnen.<br />Fehlende Tags:');?>',
            tagDuplicatedText: '<?php echo $this->translate->_('Die nachfolgenden Tags wurden beim Editieren dupliziert, das Segment kann nicht gespeichert werden. Löschen Sie die duplizierten Tags. <br />Duplizierte Tags:');?>',
            tagRemovedText: '<?php echo $this->translate->_('Es wurden Tags mit fehlendem Partner entfernt!');?>',
            cantEditContents: '<?php echo $this->translate->_('Es ist Ihnen nicht erlaubt, den Segmentinhalt zu bearbeiten. Bitte verwenden Sie STRG+Z um Ihre Änderungen zurückzusetzen oder brechen Sie das Bearbeiten des Segments ab.');?>'
        }
    });
    

    Editor.view.segments.RowEditor.prototype.messages = {
        segmentNotSavedUserMessage: '<?php echo $this->translate->_('Das Segment konnte nicht gespeichert werden. Bitte schließen Sie das Segment ggf. durch Klick auf "Abbrechen" und öffnen, bearbeiten und speichern Sie es erneut. Vielen Dank! <br/><br/>Gerade bearbeiteter Text war:<br/><br/>');?>',
        cantSaveEmptySegment: '<?php echo $this->translate->_('Das Segment kann nicht ohne Inhalt gespeichert werden!');?>'
    };
    Editor.view.segments.RowEditing.prototype.messages = {
        previousSegmentNotSaved: '<?php echo $this->translate->_('Das Segment konnte nicht zum Bearbeiten geöffnet werden, da das vorherige Segment noch nicht korrekt seine Speicherung beendet hatte. Bitte versuchen Sie es noch einmal. Sollte es dann noch nicht funktionieren, drücken Sie bitte F5. Vielen Dank!');?>',
        edit100pWarning: '<?php echo $this->translate->_('Achtung, Sie editieren einen 100% Match!');?>'
    };

  	Editor.view.ui.changealike.Window.prototype.title = '<?php echo $this->translate->_('Aktuelles Segment für die folgenden Segmente übernehmen?');?>';
  	Editor.view.ui.changealike.Window.prototype.item_cancelBtn = '<?php echo $this->translate->_('Keine Änderungen durchführen');?>';
  	Editor.view.ui.changealike.Window.prototype.item_saveBtn = '<?php echo $this->translate->_('Änderungen übernehmen');?>';
  	Editor.view.changealike.Window.prototype.items_help = <?php echo json_encode($this->translate->_('Hilfe:'));?>;
  	Editor.view.changealike.Window.prototype.items_segmentData = <?php echo json_encode('{edited}{addition}'); ?>;
  	Editor.view.changealike.Window.prototype.overwriteSource = '<?php echo $this->translate->_('<b><i>Überschreibe Quelltext mit:</i></b> ');?>';
  	Editor.view.changealike.Window.prototype.overwriteTarget = '<?php echo $this->translate->_('<b><i>Überschreibe Zieltext mit:</i></b> ');?>';

  	Editor.view.ui.changealike.Grid.prototype.item_segmentNrInTaskColumn = '<?php echo $this->translate->_('Nr.');?>';
  	Editor.view.ui.changealike.Grid.prototype.item_sourceColumn = '<?php echo $this->translate->_('Quelle');?>';
  	Editor.view.ui.changealike.Grid.prototype.item_targetColumn = '<?php echo $this->translate->_('Ziel');?>';
  	Editor.view.ui.changealike.Grid.prototype.item_relaisColumn = '<?php echo $this->translate->_('Relais');?>';
  	Editor.view.ui.changealike.Grid.prototype.item_filterColumn = '<?php echo $this->translate->_('In aktueller Filterung enthalten');?>';
  	Editor.view.ui.changealike.Grid.prototype.item_sourceMatchColumn = '<?php echo $this->translate->_('Quell-Treffer');?>';
  	Editor.view.ui.changealike.Grid.prototype.item_targetMatchColumn = '<?php echo $this->translate->_('Ziel-Treffer');?>';
  	Editor.view.ui.changealike.Grid.prototype.item_relaisMatchColumn = '<?php echo $this->translate->_('Relais-Treffer');?>';

    Editor.controller.ChangeAlike.prototype.messages = {
        alikeSingular: '<?php echo $this->translate->_('{0} Wiederholung wurde bearbeitet und gespeichert');?>',
        alikePlural: '<?php echo $this->translate->_('{0} Wiederholungen wurden bearbeitet und gespeichert');?>',
        alikesDisabled: '<?php echo $this->translate->_('Das Projekt enthält alternative Übersetzungen. Der Wiederholungseditor wurde daher deaktiviert.');?>',
        alikesFailure: '<?php echo $this->translate->_('Die Wiederholungen konnten nicht gespeichert werden');?>'
    };
    
  	Ext.grid.column.Boolean.prototype.falseText = '<?php echo $no;?>';
  	Ext.grid.column.Boolean.prototype.trueText = '<?php echo $yes;?>';

        Ext.grid.filters.Filters.prototype.menuFilterText = '<?php echo $this->translate->_('Filter');?>';
        Ext.grid.filters.filter.Number.prototype.emptyText = '<?php echo $this->translate->_('Nummer eingeben...');?>';
        Ext.grid.filters.filter.String.prototype.emptyText = '<?php echo $this->translate->_('Filtertext eingeben...');?>';
        Ext.grid.filters.filter.Boolean.prototype.yesText = '<?php echo $yes;?>';
        Ext.grid.filters.filter.Boolean.prototype.noText = '<?php echo $no;?>';
        Ext.grid.filters.filter.Date.prototype.config.fields.eq.text = '<?php echo $this->translate->_('am');?>';
        Ext.grid.filters.filter.Date.prototype.config.fields.gt.text = '<?php echo $this->translate->_('nach');?>';
        Ext.grid.filters.filter.Date.prototype.config.fields.lt.text = '<?php echo $this->translate->_('bevor');?>';
        //Ext.grid.filters.filter.DateFilter.prototype.dateFormat = Editor.DATE_ISO_FORMAT;

	Editor.MessageBox.prototype.titles = {
		ok: '<?php echo $this->translate->_('Ok!');?>',
		error: '<?php echo $this->translate->_('Fehler!');?>',
		directError: '<?php echo $this->translate->_('Es ist ein Fehler aufgetreten!');?>',
		warning: '<?php echo $this->translate->_('Warnung!');?>',
		notice: '<?php echo $this->translate->_('Hinweis!');?>'
	};

    Editor.view.comments.Grid.prototype.text_edited = '<?php echo $this->translate->_('bearbeitet');?>';
    Editor.view.comments.Grid.prototype.text_edit = '<?php echo $this->translate->_('Bearbeiten');?>';
    Editor.view.comments.Grid.prototype.text_delete = '<?php echo $this->translate->_('Löschen');?>';

    Ext.define("Editor.locale.de.view.comments.Panel", {
        override: "Editor.view.comments.Panel",
        title: '<?php echo $this->translate->_('Kommentare zum aktuellen Segment');?>',
        item_cancelBtn: '<?php echo $this->translate->_('Abbrechen');?>',
        item_saveBtn: '<?php echo $this->translate->_('Speichern');?>',
        item_closeBtn: '<?php echo $this->translate->_('Schließen');?>',
        item_commentNew: '<?php echo $this->translate->_('Kommentar neu');?>',
        item_commentEdit: '<?php echo $this->translate->_('Kommentar bearbeiten');?>',
        item_addComment: '<?php echo $this->translate->_('Neuer Kommentar');?>',
        delete_confirm_title: '<?php echo $this->translate->_('Löschen des Kommentars bestätigen');?>',
        delete_confirm_msg: '<?php echo $this->translate->_('Soll der Kommentar wirklich gelöscht werden?');?>'
    });
    
    Ext.define("Editor.locale.de.controller.admin.TaskUserAssoc", {
        override: "Editor.controller.admin.TaskUserAssoc",
        messages: {
            assocSave: '<?php echo $this->translate->_('Eintrag gespeichert!');?>',
            assocDeleted: '<?php echo $this->translate->_('Eintrag gelöscht!');?>',
            assocSaveError: '<?php echo $this->translate->_('Fehler beim Speichern der Änderungen!');?>'
        }
    });

    Ext.define("Editor.locale.de.controller.admin.TaskOverview", {
        override: "Editor.controller.admin.TaskOverview",
        strings: {
            taskImported: '<?php echo $this->translate->_('Aufgabe "{0}" vollständig importiert');?>',
            taskOpening: '<?php echo $this->translate->_('Aufgabe wird im Editor geöffnet...');?>',
            taskFinishing: '<?php echo $this->translate->_('Aufgabe wird abgeschlossen...');?>',
            taskUnFinishing: '<?php echo $this->translate->_('Aufgabe wird abgeschlossen...');?>',
            taskReopen: '<?php echo $this->translate->_('Aufgabe wird wieder eröffnet...');?>',
            taskEnding: '<?php echo $this->translate->_('Aufgabe wird beendet...');?>',
            taskDestroy: '<?php echo $this->translate->_('Aufgabe wird gelöscht...');?>',
            taskNotDestroyed: '<?php echo $this->translate->_('Aufgabe wird noch verwendet und kann daher nicht gelöscht werden!');?>',
            forcedReadOnly: '<?php echo $this->translate->_('Aufgabe wird durch Benutzer "{0}" bearbeitet und ist daher schreibgeschützt!');?>',
            openTaskAdminBtn: '<?php echo $this->translate->_('Aufgabenübersicht');?>'
        },
        confirmStrings: {
            "finish":       {title: "<?php echo $this->translate->_('Aufgabe abschließen?');?>", msg: "<?php echo $this->translate->_('Wollen Sie die Aufgabe wirklich abschließen?');?>"},
            "unfinish":     {title: "<?php echo $this->translate->_('Aufgabe wieder öffnen?');?>", msg: "<?php echo $this->translate->_('Wollen Sie die Aufgabe wirklich wieder öffnen?');?>"},
            "finish-all":   {title: "<?php echo $this->translate->_('Aufgabe für alle Nutzer abschließen?');?>", msg: "<?php echo $this->translate->_('Wollen Sie die Aufgabe wirklich für alle Benutzer abschließen?');?>"},
            "unfinish-all": {title: "<?php echo $this->translate->_('Aufgabe für alle Nutzer wieder öffnen?');?>", msg: "<?php echo $this->translate->_('Wollen Sie die Aufgabe wirklich für alle Benutzer wieder öffnen?');?>"},
            "end":          {title: "<?php echo $this->translate->_('Aufgabe endgültig beenden?');?>", msg: "<?php echo $this->translate->_('Wollen Sie die Aufgabe wirklich für alle Benutzer endgültig beenden?');?>"},
            "reopen":       {title: "<?php echo $this->translate->_('Beendete Aufgabe wieder öffnen?');?>", msg: "<?php echo $this->translate->_('Wollen Sie die beendete Aufgabe wirklich wieder öffnen?');?>"},
            "delete":       {title: "<?php echo $this->translate->_('Aufgabe komplett löschen?');?>", msg: "<?php echo $this->translate->_('Wollen Sie die Aufgabe wirklich komplett und unwiderruflich löschen?');?>"}
        }
    });

    Ext.define("Editor.locale.de.view.admin.TaskGrid", {
        override: "Editor.view.admin.TaskGrid",
        title: '<?php echo $this->translate->_('Aufgabenübersicht');?>',
        states: {
            user_state_open: '<?php echo $this->translate->_('offen');?>',
            locked: '<?php echo $this->translate->_('in Arbeit');?>',
            user_state_waiting: '<?php echo $this->translate->_('wartend');?>',
            user_state_finished: '<?php echo $this->translate->_('abgeschlossen');?>',
            task_state_end: '<?php echo $this->translate->_('beendet');?>',
            task_state_import: '<?php echo $this->translate->_('import');?>',
            forMe: '<?php echo $this->translate->_('für mich ');?>'
        },
        strings: {
            ended: '<?php echo $this->translate->_('beendet');?>',
            noUsers: '<?php echo $this->translate->_('Keine Benutzer zugeordnet!');?>',
            locked: '<?php echo $this->translate->_('in Arbeit');?>',
            lockedBy: '<?php echo $this->translate->_('Bearbeitet und Gesperrt durch {0}');?>',
            lockedSystem: '<?php echo $this->translate->_('Durch das System gesperrt mit dem Status \'{0}\'');?>',
            addTask: '<?php echo $this->translate->_('Aufgabe hinzufügen');?>',
            addTaskTip: '<?php echo $this->translate->_('Eine neue Aufgabe hinzufügen.');?>',
            reloadBtn: '<?php echo $this->translate->_('Aktualisieren');?>',
            reloadBtnTip: '<?php echo $this->translate->_('Aufgabenliste vom Server aktualisieren.');?>',
            noRelaisLang: '<?php echo $this->translate->_('- Ohne Relaissprache -');?>'
        },
        text_cols: {
            taskNr: '<?php echo $this->translate->_('Auftragsnr.');?>',
            taskName: '<?php echo $this->translate->_('Aufgabenname');?>',
            taskActions: '<?php echo $this->translate->_('Aktionen');?>',
            sourceLang: '<?php echo $this->translate->_('Quellsprache');?>',
            relaisLang: '<?php echo $this->translate->_('Relaissprache');?>',
            targetLang: '<?php echo $this->translate->_('Zielsprache');?>',
            state: '<?php echo $this->translate->_('Status');?>',
            pmGuid: '<?php echo $this->translate->_('Projektmanager');?>',
            users: '<?php echo $this->translate->_('Benutzer');?>',
            wordCount: '<?php echo $this->translate->_('Wörter');?>',
            wordCountTT: '<?php echo $this->translate->_('Anzahl Wörter');?>',
            fileCount: '<?php echo $this->translate->_('Dateien');?>',
            targetDeliveryDate: '<?php echo $this->translate->_('Lieferdatum (soll)');?>',
            realDeliveryDate: '<?php echo $this->translate->_('Lieferdatum (ist)');?>',
            referenceFiles: '<?php echo $this->translate->_('Referenzdateien');?>',
            terminologie: '<?php echo $this->translate->_('Terminologie');?>',
            fullMatchEdit: '<?php echo $this->translate->_('100% Matches sind editierbar');?>',
            lockLocked: '<?php echo $this->translate->_('In importierter Datei gesperrte Segmente sind in translate5 gesperrt');?>',
            orderdate: '<?php echo $this->translate->_('Bestelldatum');?>',
            enableSourceEditing: '<?php echo $this->translate->_('Quellsprache bearbeitbar');?>'
        }
    });
    
    Ext.define("Editor.locale.de.view.admin.TaskAddWindow", {
        override: "Editor.view.admin.TaskAddWindow",
        title: '<?php echo $this->translate->_('Aufgabe erstellen');?>',
        strings: {
            importUploadTip: '<?php echo $this->translate->_('Wählen Sie die zu importierenden Daten (ZIP, CSV, SDLXLIFF, openTM2-XLIFF; Angabe notwendig)');?>',
            importUploadLabel: '<?php echo $this->translate->_('Import Datei¹');?>',
            importUploadType: '<?php echo $this->translate->_('Bitte verwenden Sie eine ZIP, CSV oder SDLXLIFF Datei!');?>',
            importTbxTip: '<?php echo $this->translate->_('Wählen Sie die zu importierenden TBX Daten für das TermTagging');?>',
            importTbxLabel: '<?php echo $this->translate->_('TBX Datei²');?>',
            importTbxType: '<?php echo $this->translate->_('Bitte verwenden Sie eine TBX Datei!');?>',
            importNews: '<?php echo $this->translate->_('<b style="color:#ff0000;">Neu:</b> Sie können nun neben ZIP auch direkt SDLXLIFF, openTM2-XLIFF oder CSV Dateien benutzen! <a target="_blank" href="{0}/index/usage#single-import">Mehr Info</a>.');?>',
            taskNrLabel: '<?php echo $this->translate->_('Auftragsnummer');?>',
            taskNameTip: '<?php echo $this->translate->_('Projektname (frei wählbar, Angabe notwendig)');?>',
            taskNameLabel: '<?php echo $this->translate->_('Projektname¹');?>',
            sourceLangTip: '<?php echo $this->translate->_('Quellsprache des Projektes (Angabe notwendig)');?>',
            sourceLangLabel: '<?php echo $this->translate->_('Quellsprache¹');?>',
            targetLangTip: '<?php echo $this->translate->_('Zielsprache des Projektes (Angabe notwendig)');?>',
            targetLangLabel: '<?php echo $this->translate->_('Zielsprache¹');?>',
            relaisLangTip: '<?php echo $this->translate->_('Relaissprache (Angabe notwendig sofern Relaisdaten vorhanden)');?>',
            relaisLangLabel: '<?php echo $this->translate->_('Relaissprache');?>',
            numberFieldLabel: '<?php echo $this->translate->_('Anzahl Wörter');?>',
            targetDeliveryLabel: '<?php echo $this->translate->_('Lieferdatum');?>',
            fullMatchLabel: '<?php echo $this->translate->_('100% Matches sind editierbar');?>',
            lockLockedLabel: '<?php echo $this->translate->_('In importierter Datei gesperrte Segmente sind in translate5 gesperrt');?>',
            orderdate: '<?php echo $this->translate->_('Bestelldatum');?>',
            sourceEditLabel: '<?php echo $this->translate->_('Ausgangstext ist editierbar');?>',
            bottomInfo: '<?php echo $this->translate->_('¹ Diese Angaben / Daten werden für den Import zwingend benötigt.');?>',
            bottomInfo2: '<?php echo $this->translate->_('² Eine TBX Datei ist optional. Eine TBX Datei im TBX-Core Format wird benötigt um Terminologie auszuzeichnen.');?>',
            feedbackText: '<?php echo $this->translate->_('Fehler beim Import!');?>',
            feedbackTip: '<?php echo $this->translate->_('Fehler beim Import: Bitte wenden Sie sich an den Support!');?>',
            addBtn: '<?php echo $this->translate->_('Aufgabe hinzufügen');?>',
            cancelBtn: '<?php echo $this->translate->_('Abbrechen');?>'
        }
    });
    
    Ext.define("Editor.locale.de.view.admin.TaskActionColumn", {
        override: "Editor.view.admin.TaskActionColumn",
        messages: {
            actionOpen: '<?php echo $this->translate->_('Aufgabe öffnen (nur Lesemodus)');?>',
            actionEdit: '<?php echo $this->translate->_('Aufgabe bearbeiten');?>',
            actionFinish: '<?php echo $this->translate->_('Aufgabe abschließen');?>',
            actionUnFinish: '<?php echo $this->translate->_('Aufgabe wieder öffnen');?>',
            actionFinishAll: '<?php echo $this->translate->_('Aufgabe für alle Benutzer abschließen');?>',
            actionUnFinishAll: '<?php echo $this->translate->_('Aufgabe für alle Benutzer wieder öffnen');?>',
            actionEnd: '<?php echo $this->translate->_('Aufgabe komplett beenden');?>',
            actionDelete: '<?php echo $this->translate->_('Aufgabe komplett löschen');?>',
            assocUser: '<?php echo $this->translate->_('Benutzer der Aufgabe zuweisen');?>', //FIXME remove me!
            taskPrefs: '<?php echo $this->translate->_('Aufgabenspezifische Einstellungen');?>',
            actionReOpen: '<?php echo $this->translate->_('beendete Aufgabe wieder öffnen');?>',
            exp: '<?php echo $this->translate->_('Exportoptionen');?>'
        }
    });
    
    Ext.define("Editor.locale.de.view.admin.ExportMenu", {
        override: "Editor.view.admin.ExportMenu",
        messages: {
            exportDef: '<?php echo $this->translate->_('exportieren');?>',
            exportDiff: '<?php echo $this->translate->_('exportieren mit Änderungshistorie');?>',
            exportQmField: '<?php echo $this->translate->_('Export QM-Statistik (XML) für Feld: {0}');?>'
        }
    });
    
    Ext.define("Editor.locale.de.view.admin.task.PreferencesWindow", {
        override: "Editor.view.admin.task.PreferencesWindow",
        title: '<?php echo $this->translate->_('Einstellungen zu Aufgabe "{0}"');?>',
        strings: {
            close: '<?php echo $this->translate->_('Fenster schließen');?>'
        }
    });
    
    Ext.define("Editor.locale.de.view.admin.task.UserAssoc", {
        override: "Editor.view.admin.task.UserAssoc",
        title: '<?php echo $this->translate->_('Benutzer zu Aufgabe zuordnen');?>',
        strings: {
            fieldRole: '<?php echo $this->translate->_('Rolle');?>',
            fieldState: '<?php echo $this->translate->_('Status');?>',
            fieldUser: '<?php echo $this->translate->_('Benutzer');?>',
            btnSave: '<?php echo $this->translate->_('Speichern');?>',
            btnCancel: '<?php echo $this->translate->_('Abbrechen');?>',
            formTitleAdd: '<?php echo $this->translate->_('Benutzerzuweisung hinzufügen:');?>',
            formTitleEdit: '<?php echo $this->translate->_('Bearbeite Benutzer "{0}"');?>',
            editInfo: '<?php echo $this->translate->_('Wählen Sie einen Eintrag in der Tabelle aus um diesen zu bearbeiten!');?>'
        }
    });
    
    Ext.define("Editor.locale.de.view.admin.task.UserAssocGrid", {
        override: "Editor.view.admin.task.UserAssocGrid",
        strings: {
            confirmDeleteTitle: '<?php echo $this->translate->_('Eintrag löschen?');?>',
            confirmDelete: '<?php echo $this->translate->_('Soll dieser Eintrag wirklich gelöscht werden?');?>',
            userGuidCol: '<?php echo $this->translate->_('Benutzer');?>',
            roleCol: '<?php echo $this->translate->_('Rolle');?>',
            stateCol: '<?php echo $this->translate->_('Status');?>',
            addUser: '<?php echo $this->translate->_('Benutzer hinzufügen');?>',
            reload: '<?php echo $this->translate->_('Aktualisieren');?>',
            addUserTip: '<?php echo $this->translate->_('Einen Benutzer dieser Aufgabe zuordnen.');?>',
            removeUser: '<?php echo $this->translate->_('Benutzer entfernen');?>',
            removeUserTip: '<?php echo $this->translate->_('Den gewählten Benutzer aus dieser Aufgabe entfernen.');?>',
            save: '<?php echo $this->translate->_('Änderungen speichern');?>',
            cancel: '<?php echo $this->translate->_('Abbrechen');?>'
        }
    });

    Ext.define("Editor.locale.de.view.admin.UserChooseWindow", {
        override: "Editor.view.admin.UserChooseWindow",
        title: '<?php echo $this->translate->_('Einen oder mehrere Benutzer auswählen');?>',
        strings: {
            loginCol: '<?php echo $this->translate->_('Login');?>',
            firstNameCol: '<?php echo $this->translate->_('Vorname');?>',
            surNameCol: '<?php echo $this->translate->_('Nachname');?>',
            emailCol: '<?php echo $this->translate->_('E-Mail');?>',
            addBtn: '<?php echo $this->translate->_('Benutzer hinzufügen');?>',
            cancelBtn: '<?php echo $this->translate->_('Abbrechen');?>'
        }
    });
    
<?php
    if($hasFrontendController('Editor.controller.HeadPanel')){
?>
    Ext.define("Editor.locale.de.controller.HeadPanel", {
        override: "Editor.controller.HeadPanel",
        strings: {
            confirmFinish: '<?php echo $this->translate->_('Aufgabe abschließen?');?>', 
            confirmFinishMsg: '<?php echo $this->translate->_('Wollen Sie die Aufgabe wirklich abschließen?');?>',
            confirmEnd: '<?php echo $this->translate->_('Aufgabe endgültig beenden?');?>', 
            confirmEndMsg: '<?php echo $this->translate->_('Wollen Sie die Aufgabe wirklich für alle Benutzer endgültig beenden?');?>',
            taskClosed: '<?php echo $this->translate->_('Aufgabe wurde erfolgreich verlassen.');?>',
            taskFinished: '<?php echo $this->translate->_('Aufgabe wurde erfolgreich abgeschlossen.');?>',
            taskEnded: '<?php echo $this->translate->_('Aufgabe wurde erfolgreich beendet.');?>',
            taskClosing: '<?php echo $this->translate->_('Aufgabe wird verlassen...');?>',
            taskFinishing: '<?php echo $this->translate->_('Aufgabe wird abgeschlossen und verlassen...');?>',
            taskEnding: '<?php echo $this->translate->_('Aufgabe wird beendet und verlassen...');?>',
            saveSegmentFirst: '<?php echo $this->translate->_('Die gewünschte Aktion kann nicht durchgeführt werden! Das aktuell geöffnete Segment muss zunächst gespeichert bzw. geschlossen werden.');?>',
        }
    });
    
    Editor.view.HeadPanel.prototype.strings = {
        task: '<?php echo $this->translate->_('Aufgabe');?>',
        logout: '<?php echo $this->translate->_('Abmelden');?>',
        tasks: '<?php echo $this->translate->_('Aufgaben');?>',
        settings: '<?php echo $this->translate->_('Meine Einstellungen');?>',
        loggedinAs: '<?php echo $this->translate->_('Eingeloggter Benutzer');?>',
        loginName: '<?php echo $this->translate->_('Loginname');?>',
        back: '<?php echo $this->translate->_('zurück zur Aufgabenliste');?>',
        finishBtn: '<?php echo $this->translate->_('Aufgabe abschließen');?>',
        endBtn: '<?php echo $this->translate->_('Aufgabe beenden');?>',
        readonly: '<?php echo $this->translate->_(' - [LESEMODUS]');?>'
    };
<?php
    }//END if($hasFrontendController('Editor.controller.HeadPanel'))
    if($hasFrontendController('Editor.controller.UserPreferences')) {
?>
    
    Editor.controller.UserPreferences.prototype.strings = {
        settings: '<?php echo $this->translate->_('Meine Einstellungen');?>',
        pwSave: '<?php echo $this->translate->_('Passwort erfolgreich gespeichert!');?>'
    };
    
    Ext.define("Editor.locale.de.preferences.UserWindow", {
        override: "Editor.view.preferences.UserWindow",
        title: '<?php echo $this->translate->_('Meine Einstellungen');?>'
    });
    
    Editor.view.preferences.UserWindow.prototype.strings = {
        editPassword: '<?php echo $this->translate->_('Passwort ändern');?>',
        password: '<?php echo $this->translate->_('Passwort');?>',
        password_check: '<?php echo $this->translate->_('Passwort Kontrolle');?>',
        passwordMisMatch: '<?php echo $this->translate->_('Die Passwörter stimmern nicht überein!');?>',
        saveBtn: '<?php echo $this->translate->_('Speichern');?>',
        cancelBtn: '<?php echo $this->translate->_('Abbrechen');?>'
    };
<?php
    }//END if $this->hasFrontendController('Editor.controller.UserPreferences')
    if($hasFrontendController('Editor.controller.admin.User')){ 
?>
    Editor.controller.admin.User.prototype.strings = {
        confirmDeleteTitle: '<?php echo $this->translate->_('Benutzer endgültig löschen?');?>',
        confirmDeleteMsg: '<?php echo $this->translate->_('Soll der gewählte Benutzer "{0}" wirklich endgültig gelöscht werden?');?>',
        confirmResetPwTitle: '<?php echo $this->translate->_('Passwort zurücksetzen?');?>',
        confirmResetPwMsg: '<?php echo $this->translate->_('Soll das Passwort des Benutzers "{0}" wirklick zurückgesetzt werden?<br /> Der Benutzer wird per E-Mail benachrichtigt, dass er ein neues Passwort anfordern muss.');?>',
        userSaved: '<?php echo $this->translate->_('Der Änderungen an Benutzer "{0}" wurden erfolgreich gespeichert.');?>',
        openUserAdminBtn: "<?php echo $this->translate->_('Benutzerverwaltung');?>",
        userAdded: '<?php echo $this->translate->_('Der Benutzer "{0}" wurde erfolgreich erstellt.');?>'
    };
    Editor.view.admin.UserGrid.prototype.title = '<?php echo $this->translate->_('Benutzerübersicht');?>';
    Editor.view.admin.UserGrid.prototype.text_cols = {
        login: '<?php echo $this->translate->_('Login');?>',
        firstName: '<?php echo $this->translate->_('Vorname');?>',
        surName: '<?php echo $this->translate->_('Nachname');?>',
        gender: '<?php echo $this->translate->_('Anrede');?>',
        email: '<?php echo $this->translate->_('E-Mail');?>',
        roles: '<?php echo $this->translate->_('Systemrollen');?>'
    };
    Editor.view.admin.UserGrid.prototype.strings = {
        addUser: '<?php echo $this->translate->_('Benutzer hinzufügen');?>',
        addUserTip: '<?php echo $this->translate->_('Einen neuen Benutzer hinzufügen.');?>',
        actionEdit: '<?php echo $this->translate->_('Benutzer bearbeiten');?>',
        actionDelete: '<?php echo $this->translate->_('Benutzer löschen');?>',
        actionResetPw: '<?php echo $this->translate->_('Passwort des Benutzers zurücksetzen');?>',
        gender_female: '<?php echo $this->translate->_('Frau');?>',
        gender_male: '<?php echo $this->translate->_('Herr');?>',
        reloadBtn: '<?php echo $this->translate->_('Aktualisieren');?>',
        reloadBtnTip: '<?php echo $this->translate->_('Benutzerliste vom Server aktualisieren.');?>'
    };
    
    Editor.view.admin.UserAddWindow.prototype.title = '<?php echo $this->translate->_('Benutzer erstellen');?>';
    Editor.view.admin.UserAddWindow.prototype.titleEdit = '<?php echo $this->translate->_('Benutzer bearbeiten');?>';
    Editor.view.admin.UserAddWindow.prototype.strings = {
        userInfo: '<?php echo $this->translate->_('Benutzerinformationen');?>',
        loginInfo: '<?php echo $this->translate->_('Anmeldeinformationen');?>',
        nameTip: '<?php echo $this->translate->_('Name (Angabe notwendig)');?>',
        nameLabel: '<?php echo $this->translate->_('Name¹');?>',
        firstNameTip: '<?php echo $this->translate->_('Vorname (Angabe notwendig)');?>',
        firstNameLabel: '<?php echo $this->translate->_('Vorname¹');?>',
        surNameTip: '<?php echo $this->translate->_('Nachname (Angabe notwendig)');?>',
        surNameLabel: '<?php echo $this->translate->_('Nachname¹');?>',
        genderLabel: '<?php echo $this->translate->_('Anrede');?>',
        genderMale: '<?php echo $this->translate->_('Herr');?>',
        genderFemale: '<?php echo $this->translate->_('Frau');?>',
        loginTip: '<?php echo $this->translate->_('Anmeldename (Angabe notwendig)');?>',
        loginLabel: '<?php echo $this->translate->_('Anmeldename¹');?>',
        emailTip: '<?php echo $this->translate->_('E-Mail Adresse (Angabe notwendig)');?>',
        emailLabel: '<?php echo $this->translate->_('E-Mail Adresse¹');?>',
        rolesLabel: '<?php echo $this->translate->_('Systemrollen²');?>',
        setPassword: '<?php echo $this->translate->_('Passwort setzen³');?>',
        editPassword: '<?php echo $this->translate->_('Passwort ändern');?>',
        password: '<?php echo $this->translate->_('Passwort');?>',
        password_check: '<?php echo $this->translate->_('Passwort Kontrolle');?>',
        passwordMisMatch: '<?php echo $this->translate->_('Die Passwörter stimmern nicht überein!');?>',
        bottomInfo: '<?php echo $this->translate->_(' ¹ Diese Angaben werden zwingend benötigt.');?>',
        bottomRoleInfo: '<?php echo $this->translate->_(' ² Systemrollen bestimmen darüber, welche Rechte im System ein Nutzer hat. Die Rolle Editor darf auf alle Komponenten des Editors zugreifen, sowie auf die Komponenten der Aufgabenübersicht, die für das Editieren von Aufgaben nötig sind. Die Rolle PM darf Benutzer verwalten und Benutzer Aufgaben im Workflow zuweisen oder entziehen. Achtung: Systemrollen dürfen nicht mit Workflowrollen wie Lektor oder Übersetzer verwechselt werden. Benutzer die im Workflow Aufgaben übernehmen sollen müssen mindestens die Systemrolle Editor erhalten.');?>',
        bottomPwInfo: '<?php echo $this->translate->_(' ³ Wird kein Passwort gesetzt bekommt der Benutzer automatisch eine E-Mail zur Erstellung eines Passworts.');?>',
        feedbackText: "<?php echo $this->translate->_(' Fehler beim Speichern!');?>",
        feedbackTip: '<?php echo $this->translate->_('Fehler beim Speichern des Benutzers: Bitte wenden Sie sich an den Support!');?>',
        addBtn: '<?php echo $this->translate->_('Benutzer hinzufügen');?>',
        saveBtn: '<?php echo $this->translate->_('Benutzer speichern');?>',
        cancelBtn: '<?php echo $this->translate->_('Abbrechen');?>'
    };
<?php
    } //END if $this->hasFrontendController('Editor.controller.admin.User')
    
    if($hasFrontendController('Editor.controller.admin.TaskPreferences')){
?>
    Editor.view.admin.task.UserPrefsGrid.prototype.strings = {
        defaultEntry: '<?php echo $this->translate->_('Standard Eintrag');?>',
        confirmDeleteTitle: '<?php echo $this->translate->_('Eintrag löschen?');?>',
        confirmDelete: '<?php echo $this->translate->_('Soll dieser Eintrag wirklich gelöscht werden?');?>',
        colStep: '<?php echo $this->translate->_('Workflow Schritt');?>',
        colUsername: '<?php echo $this->translate->_('Benutzer');?>',
        colTargets: '<?php echo $this->translate->_('Spalten (vorhanden)');?>',
        colNotEditContent: '<?php echo $this->translate->_('Nur MQM-tags bearbeiten');?>',
        colAnonymous: '<?php echo $this->translate->_('Anonymisiert');?>',
        colVisibility: '<?php echo $this->translate->_('Sichtbarkeit');?>',
        add: '<?php echo $this->translate->_('Eintrag hinzufügen');?>',
        reload: '<?php echo $this->translate->_('Aktualisieren');?>',
        remove: '<?php echo $this->translate->_('Eintrag löschen');?>',
        vis_show: '<?php echo $this->translate->_('anzeigen');?>',
        vis_hide: '<?php echo $this->translate->_('ausblenden');?>',
        vis_disable: '<?php echo $this->translate->_('nicht vorhanden');?>'
    };
    
    Editor.view.admin.task.UserPrefsForm.prototype.title_edit = '<?php echo $this->translate->_('Bearbeite Eintrag: "{0} - {1}"');?>';
    Editor.view.admin.task.UserPrefsForm.prototype.title_add = '<?php echo $this->translate->_('Eintrag erstellen');?>';
    Editor.view.admin.task.UserPrefsForm.prototype.strings = {
        fieldStep: '<?php echo $this->translate->_('Workflow Schritt');?>',
        fieldUsername: '<?php echo $this->translate->_('Benutzer');?>',
        fieldTargets: '<?php echo $this->translate->_('vorhandene Spalten');?>',
        fieldNotEditContent: '<?php echo $this->translate->_('Nur MQM-tags bearbeiten');?>',
        fieldAnonymous: '<?php echo $this->translate->_('anonymisierte Zieltextspalten');?>',
        fieldVisibility: '<?php echo $this->translate->_('Sichtbarkeit nicht editierbarer Zieltextspalten');?>',
        btnSave: '<?php echo $this->translate->_('Speichern');?>',
        btnCancel: '<?php echo $this->translate->_('Abbrechen');?>',
        visShow: '<?php echo $this->translate->_('Anzeigen');?>',
        visHide: '<?php echo $this->translate->_('Ausblenden');?>',
        visDisabled: '<?php echo $this->translate->_('nicht vorhanden');?>'
    };
    
    Editor.view.admin.task.Preferences.prototype.title = '<?php echo $this->translate->_('Einstellungen zur Aufgabe');?>';
    Editor.view.admin.task.Preferences.prototype.workflow_label = '<?php echo $this->translate->_('Workflow');?>';
    Editor.view.admin.task.Preferences.prototype.editInfo = '<?php echo $this->translate->_('Wählen Sie einen Eintrag in der Tabelle aus um diesen zu bearbeiten!');?>';
    
    Editor.controller.admin.TaskPreferences.prototype.strings = {
      taskWorkflowSaved: '<?php echo $this->translate->_('Änderung des Workflows der Aufgabe gespeichert!');?>',
      entrySaved: '<?php echo $this->translate->_('Eintrag gespeichert');?>',
      entryDeleted: '<?php echo $this->translate->_('Eintrag gelöscht');?>',
      entrySaveError: '<?php echo $this->translate->_('Fehler beim Speichern der Änderungen!');?>',
      forAll: '<?php echo $this->translate->_('für alle');?>'
    };
<?php 
    }; //if($hasFrontendController('Editor.controller.admin.TaskPreferences')){ 
?>
  }
});
<?php
exit;
