<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

?>
<h1><?php echo $this->translate->_('Hilfe'); ?></h1>
<p><?php echo $this->translate->_('Im Wiederholungseditor werden alle sich im Vergleich zum aktuellen Segment wiederholenden Segmente angezeigt. Dies können Segmente sein, deren quellsprachlicher Inhalt der quellsprachlichen Spalte des aktuellen Segments entspricht (klassische Wiederholung). Dies können aber auch Segmente sein, deren ZIELsprachlicher Inhalt der ZIELsprachlichen Spalte des aktuellen Segments entspricht.'); ?></p>
<p><?php echo $this->translate->_('Die Spalten Quell- bzw. Ziel-Treffer zeigen an, welche Spalte der Wiederholung mit dem aktuellen Segment übereinstimmt.'); ?></p>
<p><?php echo $this->translate->_('Die Spalte "In aktueller Filterung enthalten" zeigt an, ob das angezeigte Segment gemäß der aktuellen Filterung in der Segmentübersicht aktuell angezeigt wird (Ja), oder durch die gesetzten Filter ausgeblendet ist (Nein).'); ?></p>
<p><?php echo $this->translate->_('"Keine Änderung durchführen" bricht den Wiederholungseditor ohne Änderung an den weiteren Segmenten ab. "Änderung übernehmen" speichert die Änderungen der ausgewählten Segmente (Haken in der Zeile des Segments im Wiederholungseditor ist gesetzt).'); ?></p>
<p><?php echo $this->translate->_('Über das Häkchen in der Spaltenüberschrift lassen sich alle Segmente selektieren oder deselektieren.'); ?></p>