<?php
/*
START LICENSE AND COPYRIGHT

 This file is part of translate5
 
 Copyright (c) 2013 - 2015 Marc Mittag; MittagQI - Quality Informatics;  All rights reserved.

 Contact:  http://www.MittagQI.com/  /  service (ATT) MittagQI.com

 This file may be used under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE version 3
 as published by the Free Software Foundation and appearing in the file agpl3-license.txt 
 included in the packaging of this file.  Please review the following information 
 to ensure the GNU AFFERO GENERAL PUBLIC LICENSE version 3.0 requirements will be met:
 http://www.gnu.org/licenses/agpl.html

 There is a plugin exception available for use with this release of translate5 for
 open source applications that are distributed under a license other than AGPL:
 Please see Open Source License Exception for Development of Plugins for translate5
 http://www.translate5.net/plugin-exception.txt or as plugin-exception.txt in the root
 folder of translate5.
  
 @copyright  Marc Mittag, MittagQI - Quality Informatics
 @author     MittagQI - Quality Informatics
 @license    GNU AFFERO GENERAL PUBLIC LICENSE version 3 with plugin-execptions
			 http://www.gnu.org/licenses/agpl.html http://www.translate5.net/plugin-exception.txt

END LICENSE AND COPYRIGHT
*/

/**#@+
 * @author Marc Mittag
 * @package portal
 * @version 2.0
 *
 */

$session = new Zend_Session_Namespace();

$this->subject = $this->translate->_('Translate5 - Aufgabe freigegeben').' "'.$this->task->getTaskNr().' - '.$this->task->getTaskName().'"';
$this->textbody = sprintf($this->translate->_('%1$s %2$s,

Im Projektportal Translate5 wurde die Aufgabe %5$s - %6$s für Sie freigegeben.

Sie erreichen das Portal unter: %3$s

Vielen Dank und viele Grüße,
Ihr Projektmanagement Team
%7$s

Diese Email wurde automatisch generiert. Bitte antworten Sie nicht auf diese E-Mail!'),
    $this->mailEmployeeSalutation(),
    $this->user['surName'],
    $session->runtimeOptions->server->protocol.$session->runtimeOptions->server->name,
    '', //displaying segments is not supported in textmails
    $this->task->getTaskNr(),
    $this->task->getTaskName(),
    $session->runtimeOptions->companyName
);

echo sprintf($this->translate->_('%1$s %2$s,<br />
<br />
Im Projektportal Translate5 wurde die Aufgabe <b>%5$s - %6$s</b> für Sie freigegeben.<br />
<br />
Im folgenden die getätigten Änderungen der vorhergehenden Lektoren:<br />
%4$s
<hr />
<br />
<br />
Sie erreichen das Portal unter: %3$s<br />
<br />
<br />Vielen Dank und viele Grüße,
<br />Ihr Projektmanagement Team
<br />%7$s
<br />
<br />Diese Email wurde automatisch generiert. Bitte antworten Sie nicht auf diese E-Mail!'),
    $this->mailEmployeeSalutation(),
    $this->user['surName'],
    $session->runtimeOptions->server->protocol.$session->runtimeOptions->server->name,
    $this->workflowNotifyHtmlMailSegmentList($this->segments),
    $this->task->getTaskNr(),
    $this->task->getTaskName(),
    $session->runtimeOptions->companyName
);



